*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

header, .hero {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);
}

header {
    padding: 28px;
    margin: 0 auto;

    h1 {
        font-size: 24px;
        color: hsl(90, 17%, 98%);
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

.flex-wrapper {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero > .flex-wrapper {
    gap: 60px;
    padding: 80px 0;

    p {
        margin-bottom: 20px;
    }

    button {
        padding: 8px 16px;
        border-radius: 8px;
        background-color: hsl(217, 91%, 59%);
        color: hsl(0, 0%, 100%);
    }

    img {
    max-width: 50%;
    border-radius: 8px;
    }
}

.hero p:first-child {
    font-size: 48px;
    font-weight: 900;
    color: hsl(90, 17%, 98%);
}

.secondary-text {
    font-size: 18px;
    color: hsl(220, 13%, 91%);
}

.information {
    padding: 40px 0;
    text-align: center;
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        max-width: 990px;
        margin: 40px auto;

        img {
            max-width: 200px;
            border-radius: 8px;
            margin-bottom: 8px;
        }
    }
}

figure {
    background-color: hsl(220, 13%, 91%);
    padding: 90px 0;

    .wrapper {
        max-width: 800px;
        margin: 0 auto;
    }

    blockquote {
        font-size: 36px;
        font-weight: 300;
        font-style: italic;
    }

    figcaption {
        text-align: right;
        font-weight: 600;
        font-size: 20px;
        margin-top: 20px;
    }
}

.cta {
    background-color: hsl(217, 91%, 59%);
    margin: 80px auto;
    max-width: 1000px;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    color: hsl(0, 0%, 100%);

    button {
        padding: 8px 40px;
        background-color:  hsl(217, 91%, 59%);
        border: 2px solid hsl(0, 0%, 100%);
        border-radius: 4px;
        color: hsl(0, 0%, 100%);
    }
    div :first-child {
        font-size: 22px;
        font-weight: 600;
    }
}

footer {
    background-color: hsl(215, 28%, 17%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: hsl(0, 0%, 100%);
    padding: 40px 0;
}